
  <table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Last name</th>
      <th>Mobile phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.mobile_phone %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', destroy_path(user, destination: destination), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Active', active_path(user.id, destination: destination), method: :post %></td>
        <td><%= link_to 'Inactive', inactive_path(user.id, destination: destination), method: :post %></td>
        <td><%= user.is_active %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
